name: CI Build

on:
  push:
    branches-ignore:
      - main

jobs:
  ci-build:
    uses: xerris/xerris-common-workflows/.github/workflows/ci-build.yml@main
    with:
      dotnet-version: '8.0.x'
      release-path: 'net8.0'
      build-configuration: 'Release'
      artifact-name: 'build-output'